  /*Custom Style Sheet */

  html, body {
    height: 100%;
    width: 100%;

    /*BUTTON OVERRIDE */
    btn-info {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
      border-radius: 0;
      font-size: 20px;
  }

  }
  /* Hero */
  #hero {
    background: url('../img/DSC_0426.JPG');
    background-size: cover;
    background-position: center bottom;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #hero > h1 {
    color: #fff;
    margin-top: -90px;
  }

  .left
  {
    position: absolute;
    top: 150px;
    right: 300px;

  }

  .moreleft
  {
    position: absolute;
    top:100px;
    right:100px;

  }

  .portfolioButton
  {
    position: absolute;
    top: 100px;
    left: 100px;
  }

  .clothingButton
  {
    position: absolute;
    top: 150px;
    left: 300px;
  }

  .top
  {
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0px;
  }

  .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* .description
{
  position: absolute;
  left: 800px;
  top: 500px;

} */

.page2
{
  background: url('../img/DSC_0426.JPG');
  background-size: cover;
}

.row::after
{
  content: "";
  clear: both;
  display: table;
  margin:auto;
  margin-left: 15px;
  margin-top:20px;
  margin-bottom:20px;
}
.row2::after
{
  content: "";
  clear: both;
  display: table;
}
 .row2
 {
   margin:auto;
   margin-top: 50px;
   margin-left: 15px;
   margin-bottom:20px;
 }

/*  Side Bar / Navigation  */

.sidebar
{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a:before,
.sidebar a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  opacity: 0;
}

.sidebar a: before {
  right: 0;
  top: 0;
  border-right: 3px solid red;
  border-top: 3px solid red;
  transform: translate(-100%, 50%);
}

.sidebar a:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid red;
  border-bottom: 3px solid red;
  transform: translate(100%, -50%);
}

  a:hover:before,
  a:hover:after {
    transform
  }

  .resHeader
  {
      position: absolute;
      font-family: Helvetica;
      font-size: 30px;
  }
