<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- <title>NISHANT CHATLANI</title>
  <meta content="" name="description">
  <meta content="" name="keywords"> -->
  <!-- <a href="index.html"><img src="assets/img/NClogoTickerGif white.gif" style="width: 20%" alt="" class="img-fluid"></a> -->

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" size="16x16" href="favicon.ico">
  <link rel="manifest" href="/site.webmanifest">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<style>
  h1.text-light {
    color: #cc00cc;
  }
  span.ant {
    color: #fff;
  }
  .copyright{
    color: #fff;
  }

  span.nishname{
    color: #cc00cc;
  }
</style>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">


      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="indexP.html">NISH<span class="ant">ANT </span> </a></h1> -->
        <a href="indexP.html"><img src="assets/img/NClogoTickerGif-white-3.gif" style="height: 110%;" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="indexP.html">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <!-- <li><a href="#">Extra</a></li> -->
          <li class="drop-down"><a href="">Tests</a>
            <ul>
              <li><a href="https://1nish.github.io/page3.html">Archive</a></li>
              <li class="drop-down"><a href="#">Creative</a>
                <ul>
                  <li><a href="https://1nish.github.io/page4.html">Game</a></li>
                  <li><a href="https://1nish.github.io/index.html">Old Page (2018)</a></li>
                </ul>
              </li>
              <!-- <li><a href="#">Drop Down 3</a></li> -->
            </ul>
          </li>
          <li><a href="#contact">Contact Me</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1 style="font-size: 90px; text-align: left">Nish <br> Chatlani.</h1>
      <h2 style="text-align: left; width: 35%;">Creative Designer + Photographer trying to save the world, one visual at a time. 💻📸🌎  </h2>
      <a style="text-align: left;" href="#about" class="btn-get-started scrollto">Let's go!</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about" >
      <div class="container">

        <div class="row" >
          <div class="col-xl-6 col-lg-7"  data-aos="fade-right">
            <img src="assets/img/profile collage@100x.png" class="img-fluid" alt="">
            <!-- <img src="assets/img/NClogoTickerGif-2.gif" style="width: 20%; top: 200px;"  class="img-fluid" alt=""> -->
          </div>
          <!-- <div class="col-xl-6 col-lg-7"  data-aos="fade-right">
            <img src="assets/img/NClogoTickerGif-2.gif" style="width: 20%"  class="img-fluid" alt="">
          </div> -->
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">About Me</h3>
            <p style="color: #121212;" data-aos="fade-up">
              Born and raised in San Diego, CA. Went to Canada to pursue an artistic future (finishing my BA in Global Business and Digital Arts major at the University of Waterloo in April 2021).
              I'm always searching for opportunities to express and expand my creative design skillset.
            </p>
            <div class="icon-box" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4 style="color: #121212;"> Digital Designer</h4>
              <p style="color: #121212;">Product design, Creative Marketing and Fashion/Styling are where my passion lies. I enjoy expressing my creative side when developing new sites.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="icofont-camera-alt"></i>
              <h4 style="color: #121212;">Photographer & Fashion/Hip-Hop Aficionado</h4>
              <p style="color: #121212;">Nature, friends and Hip-Hop concerts are some of my favorite scenes to capture.
              If I'm not skateboarding in my free hours, you can most likely find me catching up on new Rap albums and
              runway collections! </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="icofont-sound-wave"></i>
              <h4 style="color: #121212;">Check out my current favorite song! (3/22/21)</h4>
              <p style="color: #121212;">Listen to "White Desert", by Ash - it reminds me of the summer:
              <iframe src="https://open.spotify.com/embed/track/5OO4oEJcYu3UmC7xKfVlLk" style="width:"300" height="80" left="100" border-radius="1px" overflow="hidden" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-right" style="text-align: left;">
          <h2>Services</h2>
          <p style="width: 50%;">All services are available by <a href="#contact">contacting me via email or phone.<a> I'm looking for new work experiences to bring value to clients and strengthen my skills. </p>
        </div>
        <!-- old icocolor: #1bac91 -->
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box icon-box" style="color:#cc00cc">
              <div class="icon"><i class="bx bx-spray-can"></i></div>
              <h4 class="title"><a href="#oprtfolio">Visual Design</a></h4>
              <p class="description" style="color:#000000">Over 3 years of combined academic and professional experience with the Adobe Creative Suite, Wireframing & Prototyping</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box" style="color:#cc00cc">
              <div class="icon"><i class="bx bx-code-block"></i></div>
              <h4 class="title"><a href="#portfolio">Website Developer</a></h4>
              <p class="description" style="color:#000000">Over 3 years of personal and course experience in website designing and developing (HTML, CSS, JS, Bootstrap)</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box" style="color:#cc00cc">
              <div class="icon"><i class="bx bx-camera"></i></div>
              <h4 class="title"><a href="#portfolio">Photography</a></h4>
              <p class="description" style="color:#000000">Over 6 years of freelance photography experience from various concerts, events & clients </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box icon-box" style="color:#cc00cc">
              <div class="icon"><i class="bx bxs-megaphone"></i></div>
              <h4 class="title"><a href="#portfolio">Marketing Coordinator</a></h4>
              <p class="description" style="color:#000000">Professional marketing experience gained from NFL Internship project work & digital marketing courses</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
          <p style="margin-left: auto; margin-right: auto; width: 50%; text-align: center;">Consisting of my recent work experiences, digital designs, old personal websites I developed, and photos from freelance + client shoots.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Design</li>
              <li data-filter=".filter-card">Photos</li>
              <li data-filter=".filter-fash">Fashion</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/Work windows-01.png" class="img-fluid" alt="">
              <div title="Learn More" class="portfolio-info">
                <h4>Creative Product Design Intern - National Football League (2020)</h4>
                <p>Work</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/Work windows-01.png" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/Updated Design.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Design Work</h4>
                <p>Work</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/Updated Design.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details7.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/Work windows-03.png" class="img-fluid" alt="">
              <div title="Learn More" class="portfolio-info">
                <h4>Concert Photographer (2014-Present)</h4>
                <p>Photos</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/Work windows-03.png" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details3.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/thoughtstem final.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Software Development Intern - ThoughtSTEM (2019)</h4>
                <p>Work</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/thoughtstem final.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details2.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/CallumMallace_1.png" class="img-fluid" alt="">
              <div title="Learn More" class="portfolio-info">
                <h4>Callum Mallace, Montreal Impact vs. LA Galaxy (2015)</h4>
                <p>Photos</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/CallumMallace_1.png" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details3.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/DSC_1090_1.png" class="img-fluid" alt="">
              <div title="Learn More" class="portfolio-info">
                <h4>Drake @ OVO Fest (2016)</h4>
                <p>Photos</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/DSC_1090_1.png" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details3.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-fash">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/grailed1.jpg" class="img-fluid" alt="">
              <div title="Learn More" class="portfolio-info">
                <h4>Luxury Clothing Archive</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/grailed1.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details5.html" title="Designer Clothing Resale Business"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="box-shadow:  0px 6px 35px 2px rgba(0,0,0,0.25);">
              <img src="assets/img/portfolio/1nish2.jpg" class="img-fluid" alt="">
              <div title="Learn More" class="portfolio-info">
                <h4>Previous Personal Web Page (2019-2020)</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/1nish2.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details6.html" title="Old Website - More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-fash">
            <div class="portfolio-wrap">
              <img src="assets/img/Project Trashion.jpg" class="img-fluid" alt="">
              <div title="Learn More" class="portfolio-info">
                <h4>Project Trashion Runway Show (2019)</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/Project Trashion 1.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details4.html" title="Project Trashion Runway Show"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 style="color: #121212;">Contact</h2>
          <p style="color: #121212; width: 50%; margin-left: auto;">I am looking for full-time or contract work that fuses my passions of digital design and business. Thank you for inquiring!</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>San Diego, CA</p>
              </div>

              <div class="email mt-4">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>nishant.k.chatlani@gmail.com</p>
              </div>

              <div class="phone mt-4">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 760 557 9791</p>
              </div>

            </div>

          </div>

          <div class="col-lg-5 d-flex align-items-stretch">
            <iframe style="border:0; width: 90%;border-radius: 5%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d429157.54686797684!2d-117.38917726848905!3d32.82424040498625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9530fad921e4b%3A0xd3a21fdfd15df79!2sSan%20Diego%2C%20CA%2C%20USA!5e0!3m2!1sen!2sca!4v1605128121655!5m2!1sen!2sca" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>


      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><span class="nishname">NISH</span>ANT CHATLANI</h3>
              <p>
                <strong>Phone:</strong> +1 760 557 9791<br>
                <strong>Email:</strong> nishant.k.chatlani@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/nish_chatlani" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/nish.chatlani/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/in/nishant-chatlani-779185153/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="bottom-gif">
                <img src="assets/img/NClogoTickerGif-2.gif" style="width: 22%; right: -170px; position: relative; bottom: 45px;"  class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About <span class="nishname">Nish</span>ant</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <! <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span class="nishname">NISH</span>ANT CHATLANI 2020</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <span class="nishname">Nish</span>ant Chatlani
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
