<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Stylist</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" size="16x16" href="favicon.ico">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Rubik&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->


  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="poDZEZ1s"></script>



  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="indexP.html">NISH<span class="ant">ANT </span> </a></h1> -->
        <a href="indexP.html"><img src="assets/img/NClogoTickerGif-white-3.gif" style="height: 110%;" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="indexP.html">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <!-- <li><a href="#">Extra</a></li> -->
          <li class="drop-down"><a href="">Tests</a>
            <ul>
              <li><a href="https://1nish.github.io/page3.html">Archive</a></li>
              <li class="drop-down"><a href="#">Creative</a>
                <ul>
                  <li><a href="https://1nish.github.io/page4.html">Game</a></li>
                  <li><a href="https://1nish.github.io/index.html">Old Page (2018)</a></li>
                </ul>
              </li>
              <!-- <li><a href="#">Drop Down 3</a></li> -->
            </ul>
          </li>
          <li><a href="#contact">Contact Me</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main" style="background: rgba(255, 255, 255, 0.9);">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style="font-family: 'Rubik', sans-serif;">Thrift Stylist (2019)</h2>
          <ol style="font-family: 'Rubik', sans-serif;">
            <li><a href="indexP.html">Home</a></li>
            <li><a href="indexP.html">Portfolio</a></li>
            <li>Project Trashion</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <!-- <a href="https://www.facebook.com/ProjectTrashion/photos/a.414403679222965/414407329222600/?type=3"><img src="assets/img/portfolio/Project Trashion 1.png" style= "width: 52%" class="img-fluid" alt=""" title="See Facebook Post"></a> -->
            <img src="assets/img/portfolio-details4/trashion4.jpg" style="width: 52%" class="img-fluid" alt="">
            <img src="assets/img/portfolio-details4/trashion1.jpg" style="width: 52%" class="img-fluid" alt="">
            <img src="assets/img/portfolio-details4/trashion2.jpg" style="width: 52%" class="img-fluid" alt="">
            <img src="assets/img/portfolio-details4/trashion3.jpg" style="width: 23%" class="img-fluid" alt="">
            <img src="assets/img/portfolio-details4/trashion5.jpg" style="width: 23%"  class="img-fluid" alt="">
          </div>

          <!-- Facebook Embed -->

      <!-- <a href="https://www.facebook.com/ProjectTrashion/photos/a.414403679222965/414407329222600/?type=3"><img src="assets/img/portfolio/Project Trashion 1.png" style= "width: 52%" class="img-fluid" alt=""" title="See Facebook Post"></a>

        <! Facebook embed -->

          <div class="portfolio-info" style="background: rgba(255, 255, 255, 0.9);">
            <!-- border-radius: 10%; -->
            <h3 style="font-family: 'Rubik', sans-serif;">Project information</h3>
            <ul>
              <li style="font-family: 'Karla', sans-serif;"><strong style="font-family: 'Rubik', sans-serif;">Role</strong>: Thrift Stylist</li>
              <li style="font-family: 'Karla', sans-serif;"><strong style="font-family: 'Rubik', sans-serif;">Company</strong>: Project Trashion </li>
              <li style="font-family: 'Karla', sans-serif;"><strong style="font-family: 'Rubik', sans-serif;">Project date</strong>: May 2019 - Oct 2019</li>
              <li style="font-family: 'Karla', sans-serif;"><strong style="font-family: 'Rubik', sans-serif;">Project URL</strong>: <a href="https://wusa.ca/news-updates/sustainability-always-fashion"> News Article</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2 style="font-family: 'Rubik', sans-serif;">Paragon: Project Trashion's Second Runway Show (2019)</h2>
          <p style="width: 80%; font-family: 'Karla', sans-serif;"> Project Trashion is a group funded by the University of Waterloo that aims to
            promote sustainability in the most fashioinable ways. As a Thrift Stylist, for their second annual runway show, I had the role of
            styling a 4-piece collection on models consisting of second-hand clothing that was sourced from thrift stores. Getting to meet people within my
            school that were as obsessed about clothing as I was, as well as collaborating with other creative minds and seeing the show being built and
            perfectly executed was an experience that I enjoyed and took a lot from from. <br><br>
            From collecting luxury pieces, since a young kid, to being able to put collections together was a true joy and dream come true. <br>
          View my full collection here: https://www.facebook.com/media/set/?vanity=ProjectTrashion&set=a.414403679222965</p>

              <!-- <a href="https://1nish.github.io/page1.html"> View more full sized photos here.</a>  -->
            <!-- /////////////////// -->

            <!-- <div class="span4 proj-div" data-toggle="modal" data-target="#GSCCModal"> <p style="text-decoration: underline; cursor: pointer; font-family: "Open Sans", sans-serif;"> View some of my favorites pieces that I accumulated over the years!</p>
            </div>

    <div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
          <h4 style="color: black; font-family: 'Rubik', sans-serif;" class="modal-title" id="myModalLabel">Photos by Nish</h4>
        </div
        <div class="modal-body">
          <p style="text-align: left; color: black; font-family: 'Karla', sans-serif;"> Here are some clothes I've bought and sold. <br> 🛸🛸🛸 Enjoy!</p>

          <div class="owl-carousel portfolio-details-carousel">
          <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/72578149_414406652556001_2776621323785338880_o.jpg?_nc_cat=109&ccb=2&_nc_sid=cdbe9c&_nc_ohc=yX6vPXB0LmUAX8bMVeT&_nc_ht=scontent-lax3-1.xx&oh=9a6b391d907dadf168e17e31902fb351&oe=5FF3B105" style= "width: 62%; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/72900788_414407752555891_7955152762252034048_o.jpg?_nc_cat=103&ccb=2&_nc_sid=cdbe9c&_nc_ohc=GcoaxhEjY4oAX8l_cy2&_nc_ht=scontent-lax3-1.xx&oh=cbd5cfa8ad081a94311bcb26edf62b30&oe=5FF5F5E2" style="width: 62%; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">
             <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/72810603_414407375889262_5098000333515259904_o.jpg?_nc_cat=111&ccb=2&_nc_sid=cdbe9c&_nc_ohc=yonMJ9sQWu8AX8pXYNs&_nc_ht=scontent-lax3-2.xx&oh=ce714cbd61e784c752d2f261db53b68a&oe=5FF3E805" style="width: 62%; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">
             <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/73073224_414408155889184_4411289948271935488_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=MQFpulbt5IMAX9odDQ6&_nc_ht=scontent-lax3-1.xx&oh=4108192a3d83916adc75fb11aa0db522&oe=5FF783D0" style="width: 62%; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">
             <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/73025635_414408862555780_7410455182888140800_o.jpg?_nc_cat=106&ccb=2&_nc_sid=cdbe9c&_nc_ohc=vvcOrLOaP_IAX-qMbaW&_nc_ht=scontent-lax3-2.xx&oh=3323f482f56af301ef295fef649ce954&oe=5FF4495E" style="width: 62%; margin-left: auto; margin-right: auto;" class="img-fluid" alt=""> -->
             <!-- <img src="https://1nish.github.io/page3Row4img1/DSC_0012%20copy.JPG" style="width: 62%; margin-left: auto; margin-right: auto;" class="img-fluid" alt=""> -->
<!--       </div>
           <button type="button" class="btn btn-default" style="font-family: 'Karla', sans-serif;" data-dismiss="modal">Close</button>
           <input type="button" value="More from the collection!" class="btn btn-dark" onclick="relocate_facebook()" style="font-family: 'Karla', sans-serif; color: white;"></input> -->

        </div>

      </div>
    </div>
    </div>

    <script>
      function relocate_archive()
      {
           location.href = "https://1nish.github.io/page3.html";
      }

      function relocate_facebook()
      {
        location.href = "https://www.facebook.com/ProjectTrashion/";
      }
      </script>

        <!-- /////////////////// -->

        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <!-- ////////////////// -->            <!-- <img src="assets/img/thoughtstem.jpg" class="img-fluid" alt=""> -->
<!--
          <div class="span4 proj-div" data-toggle="modal" data-target="#GSCCModal"><img src="assets/img/NClogoTickerGif-2.gif" style="width:22%;"></div>

<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
        <h4 style="color: black;" class="modal-title" id="myModalLabel">More Info</h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center; color: black;">Here are some photos. <br> this is a test <br> this is a test</p>

        ...
        <div class="owl-carousel portfolio-details-carousel">
        <img src="assets/img/thoughtstem2.jpg" style= "width: 22%; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">
          <img src="assets/img/thoughtSTEM3.png" style="width: 22%; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">
           <!-<img src="assets/img/" class="img-fluid" alt=""> -->

         <!-- </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Next</button>
      </div>
    </div>
  </div>
</div> -->
           <!-- ////////////////// -->

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><span class="nishname">NISH</span>ANT CHATLANI</h3>
              <p>
                <strong>Phone:</strong> +1 760 557 9791<br>
                <strong>Email:</strong> nishant.k.chatlani@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/nish_chatlani" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/nish.chatlani/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/in/nishant-chatlani-779185153/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="bottom-gif">
                <img src="assets/img/NClogoTickerGif-2.gif" style="width: 22%; right: -170px; position: relative; bottom: 45px;"  class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="indexP.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="indexP.html #about">About <span class="nishname">Nish</span>ant</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="indexP.html #services">Services</a></li>
            </ul>
          </div>

          <style>
            h1.text-light {
              color: #cc00cc;
            }
            span.ant {
              color: #fff;
            }
            .copyright{
              color: #fff;
            }

            span.nishname{
              color: #cc00cc;
            }
          </style>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span class="nishname">NISH</span>ANT CHATLANI 2020</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <span class="nishname">Nish</span>ant Chatlani
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
