<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Design Work</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" size="16x16" href="favicon.ico">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="indexP.html">NISH<span class="ant">ANT </span> </a></h1> -->
        <a href="indexP.html"><img src="assets/img/NClogoTickerGif-white-3.gif" style="height: 110%;" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="indexP.html">Home</a></li>
          <li><a href="indexP.html#about">About Me</a></li>
          <li><a href="indexP.html#portfolio">Portfolio</a></li>
          <!-- <li><a href="#">Extra</a></li> -->

          <li><a href="indexP.html#contact">Contact Me</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main" style="background: rgba(255, 255, 255, 0.9);">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div style="font-family: 'karla'" class="d-flex justify-content-between align-items-center">
          <h2>Design Work</h2>
          <ol>
            <li><a href="indexP.html">Home</a></li>
            <li><a href="indexP.html#portfolio">Portfolio</a></li>
            <li>Design Work</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="assets/img/LamboCountachPNG.png" style="width: 62%" class="img-fluid" alt="">
            <img src="assets/img/portfolio/NFL work screens.jpg" style= "width: 64%" class="img-fluid" alt="">
            <img src="assets/img/VisitAbuDhabiSampleAd.png" style= "width: 62%" class="img-fluid" alt="">
            <img src="assets/img/portfolio/RebeccaFu_final.jpg" style= "width: 26%" class="img-fluid" alt="">
            <img src="assets/img/portfolio/Techmag.jpg" style= "width: 26%" class="img-fluid" alt="">
            <!-- <img src="assets/img/portfolio/portfolio-details-3.jpg" class="img-fluid" alt=""> -->
<!-- <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6686299576158195712" height="410" width="252" frameborder="0" allowfullscreen="" title="Embedded post"></iframe> -->
          </div>

          <div class="portfolio-info" style="background: rgba(255, 255, 255, 0.9); ">
            <!-- border-radius: 10%; -->
            <h3  style="font-family: 'rubik' ">Details</h3>
            <ul>
              <li><strong>Role</strong>: Creative Designer</li>
              <li><strong>Company</strong>: NFL & Freelance</li>
              <li><strong>Work Dates</strong>: 2017 - present</li>


            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2 style="font-family: 'rubik' ">Some of My Favorite Designs</h2>
          <p style="width: 80%; font-family: 'Karla'"> I love creating new designs and experiences using Adobe Illustrator,
             XD and the rest of the Creative Suite. Typography and website design are some big interests of mine.
              By learning new techniques daily, I've been able to further my abilities and broaden my horizons.
              By working alongside NFL professionals as my mentors, I have
              been inspired to continue creating and thinking outside of the box.
              Designing efficient, high quality solutions to improve customer experience and loyalty has become a passion of mine.
         </p>

        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>NISHANT CHATLANI</h3>
              <!-- <p>
                <strong>Phone:</strong> +1 760 557 9791<br>
                <strong>Email:</strong> nishant.k.chatlani@gmail.com<br>
              </p> -->
              <div class="social-links mt-3">
                <a href="https://twitter.com/nish_chatlani" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/nish.chatlani/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/in/nishant-chatlani-779185153/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="bottom-gif">
                <img src="assets/img/NClogoTickerGif-2.gif" style="width: 22%; right: -170px; position: relative; bottom: 45px;"  class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About Nishant</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <! <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NISHANT CHATLANI 2020</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by Nishant Chatlani
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
